@inherits LayoutComponentBase

<div class="main-layout">
    <header class="main-header">
        <NavMenu />
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="main-footer">
    </footer>
</div>