.top-row {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #333;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(51, 51, 51, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: #333;
}

.nav-scrollable {
    overflow-y: auto;
    flex: 1;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-item ::deep a {
    color: #333;
    text-decoration: none;
}

.nav-item ::deep a.active {
    background-color: rgba(0, 0, 0, 0.1);
}