<div class="nav-menu">
    <div class="brand">
        <a href="">MyBlazorApp</a>
    </div>
    <nav class="nav">
        <div class="nav-item">
            <NavLink class="navlink" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="navlink" href="conversion">
                Conversion
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="navlink" href="jsondata">
                JSON Data
            </NavLink>
        </div>
    </nav>
</div>