@using Microsoft.AspNetCore.Components.Routing

<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">MyBlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="conversion">
                <span class="oi oi-exchange" aria-hidden="true"></span> Conversion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jsondata">
                <span class="oi oi-code" aria-hidden="true"></span> JSON Data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "open";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}